.venv
__pycache__
.qodo
Data
expressions
testing
backup_script.py
V1Expression.ipynb
landmark_facial_expression_model.pth
facs_au_model_enhanced.pth
PD Videos
Expression-Pipeline/landmark_facial_expression_model.pth
Expression-Pipeline/all_features.csv
Expression-Pipeline/selected_features.csv
Parkinson-Pipeline/pd_detection_model.pth
Parkinson-Pipeline/pd_detection_model_no_aug.pth
Parkinson-Pipeline/pd_features.csv
Parkinson-Pipeline/pd_features_no_aug.csv
Parkinson-Pipeline/pd_selected_features.csv
Parkinson-Pipeline/pd_selected_features_no_aug.csv
Parkinson-Pipeline/pd_test_features.csv
.fyp311



